section{
    display: flex;
    margin-top: 150px;
  
  }
  .margin{
margin-left: 100px;
margin-right: 60px;
  }
  .heading{
    font-size: 70px;
    font-weight: 800;
  }

  /* center & border for logo */
   .center{
    text-align: center;
    border-top: 1px solid #562eff ;
    border-bottom: 1px solid #562eff ;
     
   }
   h1{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 3em;
    margin-bottom:1em; ;}
 
 .top{
  margin-top: 7em;
 }
 .padding{
  padding-bottom: 80px;
 }

 footer{
  height: 300px;
  font-weight: 100%;
  background-color: rgb(35, 39, 88);
  color: antiquewhite;
  }
 .copyright{
  text-align: center;
 }